[data-slot~="grid"] {
  display: grid;
  gap: var(--grid-gap, 0);
  align-items: var(--grid-align, stretch);
  grid-auto-flow: var(--grid-flow, row);
  min-inline-size: 0;
}

[data-slot~="grid"] > * {
  min-inline-size: 0;
}

[data-slot~="grid"][data-intrinsic] {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-min-col), 100%), 1fr)
  );
}

[data-slot~="grid"][data-explicit] {
  grid-template-columns: repeat(var(--grid-cols, 1), minmax(0, 1fr));
}
